<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<section class="yachts">
  <% @bookings.each do |booking| %>
    <div class="card-product position-relative">
      <% if booking.yacht.photo.attached? %>
        <%= link_to yacht_path(booking.yacht) do %>
          <%= cl_image_tag booking.yacht.photo.key %>
        <% end %>
      <% else %>
        <%= link_to yacht_path(booking.yacht) do %>
          <%= cl_image_tag 'https://res.cloudinary.com/djkohlole/image/upload/v1720208143/istockphoto-1874145863-612x612_a0d1e2.jpg', class: 'img-fluid rounded' %>
        <% end %>
      <% end %>

      <div class="card-product-infos">
        <%= link_to yacht_path(booking.yacht), class: 'text-decoration-none text-dark' do %>
          <h2 class="card-title lobster-regular"><%= booking.yacht.name %></h2>
        <% end %>
        <br>
        <p class="card-text roboto p-1 m-2 icons"><%= truncate(booking.yacht.description, length: 150) %></p>

        <!-- Icons and Details -->
        <div class="icons card-text mt-3 roboto d-flex align-items-center">
          <div class="icons d-flex align-items-center">
            <%= image_tag 'pound-money.png', style: 'width: 40px; height: 40px; margin-right: 10px;' %>
            <strong>£<%= number_to_human(booking.yacht.price, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %> Total</strong>
          </div>
          <div class="icons d-flex align-items-center">
            <%= image_tag 'users.png', style: 'width: 40px; height: 40px; margin-right: 10px;' %>
            <strong><%= booking.yacht.capacity %> guests</strong>
          </div>
        </div>
        <br>
        <div class="icons">
          <div class="col-6 d-flex align-items-center">
            <%= image_tag 'pin.png', style: 'width: 35px; height: 35px; margin-right: 10px;' %>
            <strong><%= booking.yacht.location %></strong>
          </div>
          <div class="icons d-flex align-items-center">
            <%= image_tag 'captain.png', style: 'width: 35px; height: 35px; margin-right: 10px;' %>
            <strong><%= booking.yacht.has_captain ? 'Yes' : 'No' %></strong>
          </div>
        </div>
        <br>
        <div class="position-absolute top-0 end-0 mt-3 me-3">
          <%= link_to 'Cancel', booking_path(booking), method: :delete, class: 'btn btn-sm btn-danger text-white', data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
        <hr style="border-top: 2px solid indigo; margin-top: 10px; margin-bottom: 10px;">
        <div class="d-flex justify-content-center" style="font-size: 25px; color: indigo;">
          <%= image_tag 'calendar.png', style: 'width: 35px; height: 35px; margin-right: 10px;' %>
          <strong><%= booking.start_date.strftime('%B %e, %Y') %></strong> <!-- Example: January 1, 2023 -->
          &nbsp;-&nbsp;
          <strong><%= booking.end_date.strftime('%B %e, %Y') %></strong> <!-- Example: January 5, 2023 -->
        </div>
      </div>
    </div>
  <% end %>
</section>
