

<div class="frame">

 <h2>My Bookings</h2>




    <% if @bookings.any? %>
        <div class="table_frame" >
            <table>
              <thead>
                <tr>
                  <th>Yacht Image</th>
                  <th>Yacht Name</th>
                  <th class="description">Description</th>
                  <div class="small_box">
                    <th>Price</th>
                    <th class="loc">Location</th>
                    <th class="sd">Start Date</th>
                    <th class="ed">End Date</th>
                    <th>Actions</th>
                  </div>
                </tr>
              </thead>
              <tbody>
                <% @bookings.each do |booking| %>
                  <tr class="rowshadow">
                    <td><%= booking.yacht.photo %></td>
                    <td><%= booking.yacht.name %></td>
                    <td class="description"><%= booking.yacht.description %></td>                    <td><%= number_to_currency(booking.yacht.price) %></td>
                      <div class="small_box">
                        <td class="loc"><%= booking.yacht.location %></td>
                        <td class="st"><%= booking.start_date %></td>
                        <td class="ed"><%= booking.end_date %></td>
                        <td> <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> </td>
                      </div>
                  </tr>
                <% end %>
                </tbody>
            </table>
          </div>
    <% else %>
      <p>You have no bookings.</p>
    <% end %>

</div>
