<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= form_for @booking do |f| %>
  <%= f.label :yacht_id %>
  <%= f.text_field :yacht_id %>

  <%= f.label :status %>
  <%= f.text_field :status%>

  <%= f.label :start_date%>
  <%= f.date_field :start_date %>

  <%= f.label :end_date%>
  <%= f.date_field :end_date %>

  <%= f.submit 'Book Now' %>
<% end %>
