
<!-- Hero Banner -->
<div class="hero hero-fluid">
  <div class="container">
    <br>
    <br>
    <h1>Rent a Yacht</h1>
    <h2> Experience Ultimate Luxury  <br> on the Open Seas.<br><br></h2>
    <%= link_to yachts_path do%>
    <button class="btn-hero"> Book Now </button>
    <% end %>
  </div>
</div>


<section class="sub-banners">

  <div class="sub-banner image-banner1" >
    <div class="sub-banner-content">
      <%= link_to yachts_path do%>
        <h2>Explore Yachts</h2>
        <p>Discover beautiful yacht</p>
      <% end %>
    </div>
  </div>

  <div class="sub-banner image-banner2">
    <div class="sub-banner-content">
      <%= link_to bookings_path do%>
      <h2>Availability</h2>
      <p>Plan your trip</p>
      <% end  %>
    </div>
  </div>

  <div class="sub-banner image-banner3">
    <div class="sub-banner-content">
      <h2>Sublet your yacht</h2>
      <p>Generate income effortlessly</p>
    </div>
  </div>

</section>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <%= link_to "Home", root_path %>
      <%= link_to "Yacht", yachts_path %>
      <%= link_to "Bookings", bookings_path  %>
      <%= link_to "Sign Up / Login", new_user_session_path, class: %>
    </div>

    <div class="footer-social">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <div class="footer-info">
      <p>&copy; 2024 Triageline Yachts.</p>
    </div>

  </div>
</footer>

<!-- Font Awesome for social media icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
