<div class=formbgrcontainer>
  <div class="cardcontainer">
    <h1> Add your Yacht </h1>

    <div class="cardinside">
      <div class="card-image">
    </div>
      <div class="card-form">
        <%= simple_form_for @yacht do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :location %>
          <div class="form-photo">
            <%= f.input :photo, as: :file %>
          </div>
            <div class="btn-form">
            <%= f.submit 'Add Yacht', class: 'btn-hero' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
