<h1>Yachts#new</h1>
<p>Find me in app/views/yachts/new.html.erb</p>

<%= simple_form_for @yacht do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <%= f.submit 'Add Yacht' %>
<% end %>



