<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<div class=formbgrcontainer>
  <div class="cardcontainer">
    <h1 class="lobster-regular"> Add your Yacht </h1>

    <div class="cardinside">
      <div class="card-image">
    </div>
      <div class="card-form">
        <%= simple_form_for @yacht do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :location %>
          <div class="form-photo">
            <%= f.input :photo, as: :file %>
          </div>
            <div class="btn-form">
            <%= f.submit 'Add Yacht', class: 'btn-hero' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
