<div class="card-product">
  <!-- Displays the yacht's photo -->
  <%= cl_image_tag @yacht.photo.key %>

  <div class="card-product-infos">
    <!-- Displays the yacht's name -->
    <h2 class="card-title"><%= @yacht.name %></h2>

    <br>

    <p class="card-text text-muted"><%= @yacht.description %></p>
    <br>

    <p class="card-text"><strong>Price:</strong> £<%= number_to_human(@yacht.price, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %> per day</p>

    <p class="card-text"><strong>Location:</strong> <%= @yacht.location %></p>

    <p class="card-text"><strong>Captain Included:</strong> <%= @yacht.has_captain ? 'Yes' : 'No' %></p>

    <p class="card-text"><strong>Capacity:</strong> <%= @yacht.capacity %> guests</p>

  </div>
</div>

<div class = "p-3">
    <%= simple_form_for [@yacht, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :status %>
      <%= f.submit "Book yacht", class: "btn btn-info" %>
    <% end %>
</div>
